body {
    color: #333;
    font-family: 'Apercu Pro Mono';
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

header { 
    margin-top: 16px; 
    margin-bottom: 48px; 
}

footer {
    color: #888;
    border-top: 1px solid #eee;
    margin-top: 16px;
    padding: 16px 0;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888;
    margin-right: 16px;
    outline: none;
    text-decoration: none;
}

header a:hover,
header a:focus {
    color: #eee;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #ccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888;
    background: #888;
    color: white;
    padding: 8px;
}

button:hover, button:focus {
    background: #666;
}